<div class="info-window">
	<div class="tip">&nbsp;</div>
	<div class="content">
		<div class="name">
			{{#if url}}<a href="{{url}}" target="_blank">{{/if}}{{name}}{{#if url}}</a>{{/if}}
			<div class="zoom btn" title="Zoom In">&nbsp;</div>
		</div>
		{{#if address}}<div class="address">{{address}}</div>{{/if}}
		{{#if phone}}<a href="tel: {{phone}}" target="_blank"><div class="phone">{{phone}}</div></a>{{/if}}
		<div class="close btn" title="Close">&nbsp;</div>
	</div>
</div>